*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
section{
	padding-top:75px;
	padding-bottom:75px;
}
body{
	font-family: 'Poppins', sans-serif;
}
.form-control:focus{
	border-color: #00800099!important;
}
/*-- ===== home banar part ====== --*/
#banar .carousel-indicators li.active{
	background-color: #198754!important;
}

@media (max-width:767px){
	#banar .vh-100{
		background-position: right center;
		height: 315px!important;
	}
}
@media (max-width:576px){
	#banar .vh-100{
		background-position: right center;
		height: 250px!important;
	}
}